body{
    font-family:'Roboto' ,Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #a3d2d5;
    

}


.container-fluid.p-5{
    background-image: url('../Foto/nero.png');
    background-size: cover;
}

.jumbotron.p-5{
    border: 2px whitesmoke;
}


.newbanner{
    color: aliceblue;
    font-weight: bold;
    text-shadow: 5px 5px 10px #000;
}

.btn.btn-light{
    padding-left: 17px;
    padding-right: 17px;
}
.ht{
    background-color: #7Ec384;
}
.ft{
    border-radius:15px ;
}

.btn:hover{
    background-color: white;
}
a img{
    width: 120px;
}

h3:hover{
    color:cornflowerblue;
}

.margin {margin-bottom: 45px;}
.animasi{
    animation: cek 1s ease 1 alternate forwards ;

  }
.animasi2{
    animation: tes 1s ease 1 alternate forwards ;
}
  @keyframes cek{
    0% {
        
        margin-top: 200px;
     
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
       
      }
}
@keyframes tes{
    0% {
        
        
     
        opacity: 0;
    }
    100% {
        
        opacity: 1;
       
      }